---
import "../styles/global.css";

import BackgroundShader from "../components/backgroundShader.jsx";
import ContentSection from "../components/content.astro";
import GithubLogo from "../icons/github.svg";
import LinkedInLogo from "../icons/linkedin.svg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Andrew Friesen</title>
  </head>
  <body>
    <BackgroundShader client:load />
    <div class="flex h-screen justify-center items-center">
      <!--TODO: glass shader for center div. Maybe swap out the entire thing for a transparent shader that adds some fuzz to things behind it -->
      <card
        class="text-center justify-center items-center w-screen p-8 bg-black/50 shadow-lg shadow-black/70"
      >
        <!--TODO: Change font, mess with the text colors when I get the initial shader stuff implemented.-->
        <!-- TODO: replace filler text :) -->
        <h1 class="blue-text-shadow text-4xl text-white">Andrew Friesen</h1>
        <h2 class="blue-text-shadow text-lg text-white">Jr Developer</h2>
        <p class="blue-text-shadow text-sm text-white">
          Some sort of description. <br />......etc
        </p>
        <div class="icons flex items-center justify-center">
          <div class="flex pt-4 w-fit">
            <a
              href="https://github.com/Wrekky"
              target="_blank"
              class="has-tooltip pl-4 pr-4 text-white hover:opacity-80"
            >
              <span
                class="tooltip rounded shadow-lg p-1 bg-gray-100 text-black -mt-10 -ml-7"
              >
                Github
              </span>
              <GithubLogo width={32} height={32} />
            </a>
          </div>
          <div class="flex pt-4 w-fit">
            <a
              href="https://www.linkedin.com/in/andrew-friesen-070a05223/"
              target="_blank"
              class="has-tooltip pl-4 pr-4 text-white hover:opacity-80"
            >
              <span
                class="tooltip rounded shadow-lg p-1 bg-gray-100 text-black -mt-10 -ml-7"
                >LinkedIn</span
              >
              <LinkedInLogo width={32} height={32} />
            </a>
          </div>
        </div>
      </card>
    </div>
    <ContentSection />
  </body>
</html>
