---
import ProjectShader from "../components/projectShader.jsx";
---

<main class="content-section">
  <div class="w-auto lg:columns-2">
    <div id="text-section" class="aspect-video border border-indigo-600">
      <h1 class="blue-text-shadow text-4xl text-white">some filler data</h1>
      <h2 class="blue-text-shadow text-lg text-white">some filler data</h2>
      <p class="blue-text-shadow text-sm text-white">some filler data</p>
    </div>
    <div id="image-section" class="aspect-video border border-indigo-600">
      <ProjectShader
        imagePath={"../src/resources/images/tempImage.png"}
        client:load
      />
    </div>
  </div>
  <div class="w-auto lg:columns-2">
    <div id="text-section" class="aspect-video border border-indigo-600">
      <h1 class="blue-text-shadow text-4xl text-white">some filler data</h1>
      <h2 class="blue-text-shadow text-lg text-white">some filler data</h2>
      <p class="blue-text-shadow text-sm text-white">some filler data</p>
    </div>
    <div id="image-section" class="aspect-video border border-indigo-600">
      <ProjectShader
        imagePath={"../src/resources/images/tempImage.png"}
        client:load
      />
    </div>
  </div>
    <div class="w-auto lg:columns-2">
    <div id="text-section" class="aspect-video border border-indigo-600">
      <h1 class="blue-text-shadow text-4xl text-white">some filler data</h1>
      <h2 class="blue-text-shadow text-lg text-white">some filler data</h2>
      <p class="blue-text-shadow text-sm text-white">some filler data</p>
    </div>
    <div id="image-section" class="aspect-video border border-indigo-600">
      <ProjectShader
        imagePath={"../src/resources/images/tempImage.png"}
        client:load
      />
    </div>
  </div>
</main>
