@import "tailwindcss";
body {
  background-color: rgb(33, 33, 33);
}
.blue-text-shadow {
  text-shadow: rgba(93, 93, 255, 0.737) 2px 2px;
}
.icon-white-hover {
  color: rgba(255, 255, 255, 0.737);
}
.icon-white {
  color: rgb(255, 255, 255);
}
@theme {
  /* ... */
}
