@import "tailwindcss";
body {
  background-color: rgb(33, 33, 33);
}
.blue-text-shadow {
  text-shadow: rgba(93, 93, 255, 0.737) 2px 2px;
}
.icon-white-hover {
  color: rgba(224, 18, 18, 0.737);
}
.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}
@theme {
  /* ... */
}
